{% extends 'news/base.html' %}
    {% block head %}
    <script type="text/javascript" src="/static/news/js/vue.min.js"></script>

    <script type="text/javascript" src="/static/news/js/index.js"></script>
    {% endblock %}
            {% block menu %}
            <ul class="menu fl">
                 {% for category in category_list %}
                    <li data-cid="{{ category.id }}"><a href="javascript:;">{{ category.name }}</a></li>
                 {% endfor %}
            </ul>
            {% endblock %}
            <!-- 用户登录后显示下面，隐藏上面 -->

    {% block body %}
    <div class="conter_con">
        <ul class="list_con fl">
            <li v-for="news in news_list">
{#    引号里面的变量加法#}
                <a :href="'/'+news.id" class="news_pic fl"><img :src="news.pic"></a>
                <a :href="'/'+news.id" class="news_title fl">[[news.title]]</a>
                <a :href="'/'+news.id" class="news_detail fl">[[news.summary]]</a>
                <div class="author_info fl">
                    <div class="author fl">
                        <img :src="news.user_avatar" alt="author" style="width:20px; height:20px;">
                        <a :href="'/user/'+news.user_id">[[news.user_nick_name]]</a>
                    </div>
                    <div class="time fl">[[news.update_time]]</div>
                </div>
            </li>

        </ul>
        <div class="rank_con fr">
            <div class="rank_title">
                <h3>点击排行</h3>
            </div>
            <ul class="rank_list">
                {% for news in count_list %}
            <li><span class="click{{ loop.index }}">{{ loop.index }}</span><a href="/{{ news.id }}">{{ news.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>



    <script>
        $(function () {
            function generateImageCode() {
        //传递参数的目的是：告诉浏览器这是一次新的请求，不使用缓存的数据展示
        //获取原始的图片地址
        var src=$('.get_pic_code').attr('src');//==>/user/image_yzm?111
        //在地址后面加1,再修改图片地址
        $('.get_pic_code').attr('src',src+1);//==>/user/image_yzm?1111
        }
            function sendSMSCode() {
                // TODO 发送短信验证码
                var mobile=$('#register_mobile').val()
                var imageCode=$('#imagecode').val()
                $.get('/user/sms_yzm',{
                    'mobile':mobile,
                    'yzm':imageCode
                },function (data) {
                    if(data.result==1){
                        alert('图片验证码错误');
                    }else if(data.result==2){
                        alert('请查看短信');
                    }
                });
            }
            $(".register_form_con").submit(function (e) {
                // 阻止默认提交操作
                e.preventDefault()

                var mobile=$('#register_mobile').val()
                var imageCode=$('#imagecode').val()
                var csrf_token=$('#csrf_token').val();
                var password=$('#register_password').val();
                var smscode=$('#smscode').val()

                // 发起注册请求
                $.post('/user/register',{
                    'mobile':mobile,
                    'pwd':password,
                    'yzm_image':imageCode,
                    'yzm_sms':smscode,
                    'csrf_token':csrf_token
                },function (data) {
                    if(data.result==1){
                        alert('请填写所有数据')
                    }else if(data.result==2){
                        alert('图片验证码错误')
                    }else if(data.result==3){
                        alert('短信验证码错误')
                    }else if(data.result==4){
                        alert('密码的长度错误')
                    }else if(data.result==5){
                        alert('mobile存在')
                    }else if(data.result==6){
                        alert('注册成功！')
                        $('.to_login').click();
                    }else if(data.result==7){
                        alert('网络异常')
                    }
                });

            })
            $(".login_form_con").submit(function (e) {
                e.preventDefault()
                var csrf_token=$('#csrf_token').val();
                var mobile=$('#mobile').val()
                var password=$('#password').val()
                // 发起登录请求
                $.post('/user/login',{
                    'csrf_token':csrf_token,
                    'mobile':mobile,
                    'pwd':password
                },function (data) {
                    if(data.result==1){
                        alert('请填写完整数据');
                    }else if(data.result==2){
                        alert('mobile错误');
                    }else if(data.result==3){
                        alert('密码错误');
                    }else if(data.result==4){
                        $('.login_form_con').hide();
                        //将右上角的用户信息展示出来，并隐藏登录注册div
                        $('.user_btns').hide();
                        $('.user_login').show();
                        $('.lgin_pic').attr('src',data.avatar);
                        $('#nick_name').text(data.nick_name);
                    }
                });
            });
            $('#logout').click(function () {
                $.post('/user/logout',{
                    'csrf_token':$('#csrf_token').val()
                },function (data) {
                    if(data.result==1){
                        if (location.pathname=='/user/') {
                            //当user退出时需要转到首页
                            location.href = '/';//在js中重定向的代码
                        } else {
                            //当首页、详细页退出时进行div切换
                            $('.user_btns').show();
                            $('.user_login').hide();
                        }
                    }
                });
            })


        })

        </script>
    {% endblock %}
